<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    <div>
        <p> <a href="/add"> Click here to add a blogpost </a></p>
    </div>
    {% for post in posts %}
        <div class="post">
            <h2> {{ post['title'] }} </h2>
            <p><em>Written by {{ post['author'] }}</em></p>
            <p> {{ post['content'] }} </p>
            <p> <a class = "btn_link" href="/update/{{post['id']}}"> <input type="button" value="Update" /> </a>  <a class = "btn_link" href="/delete/{{post['id']}}"> <input type="button" value="Delete" /> </a></p>
            <div>
                <p><a class = "btn_link" href="/like/{{post['id']}}"> <input type="button" value="Like - {{post['likes']}}"/> </a></p>
            </div>
        </div>

    {% endfor %}
    <div>
        <p> <a href="/add"> Click here to add a blogpost </a></p>
    </div>
</body>
</html>
